* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    background: #cdb4db;
}

.container {
    width: 80%;
    margin: 50px auto;
}

.outer-row {
    width: 100%;
    height: 450px;
    background: #ffc8dd;
    display: flex;
}

.col-left {
    flex-basis: 60%;
    padding: 40px 60px;
}

.col-right {
    flex-basis: 40%;
    padding: 40px;
    background: #ffafcc;
}

.container h1 {
    margin-bottom: 10px;
}

.container p {
    margin: 20px 0 40px 0;
}

h3 {
    margin-bottom: 30px;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    /* it makes change between input and label why */
}

.input-row input-group {
    flex-basis: 45%;
    /* this one doesn't make no change why */
}

input {
    width: 100%;
}