/* GENERAL STYLING */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

h1{
    text-align: center;
}


/*APP.HTML STYLING*/
.container {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    padding: 100px;
    flex-direction: column; 
}

.top-img{
    width: 100%;
    margin: 0 auto;
}

header {
    margin: 20px;
}
nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
}

nav ul {
    list-style: none;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a{
    text-decoration: none;
    color: #4361ee;
}

main{
    display: flex;
    margin: 0 auto;
    flex-flow: column wrap;
    justify-content: center;
    width: 65%;
    row-gap: 30px;
    padding: 10px;
}


.main-header h1, .main-description p{
    text-align: center;
}

.main-description h1{
    text-align: center;
}

.main-row2 {
    display: flex;
    gap: 20px;
}

.row2-col {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    padding: 10px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.row2-col-heading {
    width: 100%;
}

button {
    padding: 5px;
    width: 100%;
    border: none;
    padding: 10px 0;
    font-weight: bold;
    color: white;
    border-radius: 4px;
    background-color: #000080;
}

.main-image{
    height: 120px;
    width: 120px;
    margin: 10px;
}

img{
    height: auto;
    width: 100%;
    object-fit: cover;
}

.learn-link{
    background-color: #000080;
    padding: 10px;
    font-weight: 500;
    text-align: center;
    width: 100%;
    color: white;
    border-radius: 3px;
}

@media (max-width: 500px) {
    .main-row2{
        flex-flow: column wrap;
    }
    header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container{
        width: 100%;
    }
    nav{
        width: 100%;
        flex-flow: column wrap;
    }
    main{
        width: 100%;
    }
    .main-header {
        width: 100%;
    }
    ul{
        text-align: center;
    }
}