html, body {
    margin: 0;
    padding: 0;
}


body {
    margin: 0;
    padding: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; 
    width: 100%;
}


header {
    background-color: lightgrey;
    top: 0;
    margin-bottom: 5px;
    width: 100%; /* Use 'width' instead of 'min-width' */
    height: 50px;
}


.card-main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; 
    align-items: center;
    width: 85%;
    margin: 10px;
    gap: 10px;
    border: 1px solid black;
    padding: 10px;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
    align-items: center;
}

ul li a {
    text-decoration: none;
}

.btn-container {
    display: flex;
    justify-content: space-around;
}

.card-title, 
.card-text {
    text-align: center;
}

.card {
    margin: 10px;
    width: 18rem;
}

.btn-submit {
    padding: 4px;
    border-radius: 5px;
}

.main-section {
    padding: 0;
    margin: 0 auto;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    border: 1px solid rgb(0, 0, 0);
}

.post-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap: 10px;
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
    width: 85%;
}

.post-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap: 10px;
    border: 1px solid gray;
    padding: 10px;
    width: 100%;
}

input {
    min-width: 50%;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.card-img-top {
    margin: 0 auto;
   height: 300px;
}
  
.btn-card {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.editBtn, .deleteBtn, .commentBtn {
    border-radius: 5px;
    padding: 5px;
}

@media (max-width: 768px) {
    .card {
        width: 90%;
    }
    input {
        width: 100%;
    }
}

