* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    background: #cdb4db;
}

.container {
    width: 80%;
    margin: 50px auto;
}

.outer-row {
    width: 100%;
    height: 450px;
    background: #ffc8dd;
    display: flex;
}

.col-left {
    flex-basis: 60%;
    padding: 40px 60px;
}

.col-right {
    flex-basis: 40%;
    padding: 40px;
    background: #ffafcc;
}

.container h1 {
    margin-bottom: 10px;
}

.container p {
    margin: 20px 0 40px 0;
}

h3 {
    margin-bottom: 30px;
    color: #1d3557;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group {
    flex-basis: 45%;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    background: #ffc8dd;
    outline: none;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 4px;
    color: #1d3557;
}

.message {
    display: block;
    width: 100%;
}

textarea {
    width: 100%;
    padding: 10px;
    outline: none;
    box-sizing: border-box;
    border-color: #1d3557;
}

button {
    width: 60px;
    height: 30px;
    border: none;
    background-color: #023e8a;
    color: white;
    border-radius: 10px;
    margin-top: 5px;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}

button:hover {
    background-color: #0b4f9d;
    cursor: pointer;
}

.col-right h2 {
    color: #22223b;
    font-weight: bold;
}

tr td:first-child {
    padding: 20px;
}