:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  overflow-x: hidden !important;
  width: 100vw !important;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background: linear-gradient(135deg, #1a0b19, #150d2d, #162134) !important;
}

body {
  margin: 0;
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.card {
  background-color: #0c071b;
  box-shadow: rgba(215, 106, 255, 0.507) 0px 0px 20px;
  padding: 1rem;
  border-radius: 5px;
}

.techStack {
  color: #c24dd0;
  border: 2px solid #c24dd0;
  padding: 0.5rem 2rem; 
}

@tailwind base;
@tailwind components;
@tailwind utilities;